@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Satoshi", sans-serif;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Variable.woff2') format('woff2-variations'),
    url('./assets/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}



* {
  box-sizing: border-box;
}

html ,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #14011A;
  scroll-behavior: smooth;

}

body {
  background-image: url(/src/assets/Images/grid.png);
  background-attachment: fixed;

}